@font-face {
    font-family: 'Inknut Antiqua', serif;
    src: url("../../Assets/Fonts/Inknut_Antiqua/InknutAntiqua-Bold.ttf") format("ttf");
    font-weight: 700;
}
  
@font-face {
    font-family: 'Kaushan Script', cursive;
    src: url("../../Assets/Fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("ttf"),
         url("../../Assets/Fonts/Kaushan_Script/kaushan-script.kaushanscript-regular.otf") format("otf");      ;
    font-weight: 400;
}
  
@font-face {
    font-family: 'Kodchasan', sans-serif;;
    src: url("../../Assets/Fonts/Kodchasan/Kodchasan-SemiBold.ttf") format("ttf"),
         url("../../Assets/Fonts/Kodchasan/Kodchasan-Regular.ttf") format("ttf");
    font-weight: 400;
    font-weight: 600;
}

@font-face {
    font-family: 'Rokkitt', serif;
    src: url("../../Assets/Fonts/Rokkitt/static/Rokkitt-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
  font-family: 'Aref Ruqaa Ink', serif;
  src: url("../../Assets/Fonts/Aref_Ruqaa_Ink/ArefRuqaaInk-Regular.ttf") format("ttf");
  font-weight: 400;
}