@use '../../Styles/partials/fonts';
@import '../../Styles/partials/variables';

.view-recipes{
    background-color: $color-white;
    color: $color-purple;
    border-radius: 2rem;
    padding: 0.375rem 1rem 0.375rem 1rem;
    font-family: "Kodchasan", sans-serif;
    font-size: 1.1rem;

    img{
        position: relative;
        top: 0.2rem;
        right: 0.2rem;
    }

    @include mobile-only{
        position: absolute;
        top: 13rem;
        width: 48%;
        padding: 0px 1rem 0.188rem 1rem;
        left: 1rem;
    }

    @include mobileplus{
        position: absolute;
        top: 6rem;
        width: 30%;
        padding: 0px 1rem 0.188rem 1rem;
        left: 1rem;
    }

    @include tabletplus{
        position: absolute;
        top: 5rem;
        left: 1rem;
        width: 31%;
        padding: 0.5rem 1rem;
    }

    @include tablet-only{
        position: absolute;
        top: 5rem;
        left: 1rem;
        width: 31%;
        padding: 0.5rem 1rem;
    }

    @include desktop{
        position: absolute;
        top: 5rem;
        left: 1rem;
        padding: 0.2rem 1rem;
        width: 24.6%;
        font-size: 2.2rem;
        border-radius: 4rem;
    }
}

.add-recipe{
    background-color: $color-light-purple;
    color: $color-grey;
    font-family: "Kodchasan", sans-serif;
    font-size: 1.1rem;

    @include mobile-only{
        position: absolute;
        top: 13rem;
        left: 16rem;
        border-radius: 2rem;
        width: 40%;
        padding: 0.1em 0.1rem 0.2rem 0rem;
    }

    @include mobileplus{
        position: absolute;
        top: 6.2rem;
        left: 19rem;
        border-radius: 2rem;
        width: 33%;
        padding: 0rem 0.8rem;
    }

    @include tabletplus{
        position: absolute;
        top: 7.7rem;
        left: 25rem;
        padding: 0rem 0.8rem;
        border-radius: 2rem;
        width: 23%;
    }

    @include tablet-only{
        position: absolute;
        top: 8.1em;
        left: 25rem;
        padding: 0rem 0.8rem;
        border-radius: 2rem;
        width: 23%;
    }

    @include desktop{
        position: absolute;
        left: 54rem;
        padding: 0rem 0.85rem;
        border-radius: 4rem;
        width: 23%;
        top: 9.9rem;
        font-size: 2rem;
    }
}

.content{
    @include mobile-only{
        position: relative;
        top: 3rem;
        left: 1rem;
    }

    @include tabletplus{
        position: relative;
        top: 3rem;
        display: flex;
    }

    @include tablet-only{
        display: flex;
    }

    &__left {
        &--dish-image{
            width: 245px;
            height: 210px;

            @include mobile-only{
                margin-top: 7rem;
                margin-left:1rem;
            }

            @include mobileplus{
                margin-top: 7rem;
            }

            @include tabletplus{
                margin-top: 5rem;
                margin-left: 1rem;
                width: 250px;
                height: 285px;
            }

            @include tablet-only{
                margin-left: 0.8rem;
                margin-top: 5.3rem;
                width: 250px;
                height: 285px;
            }

            @include desktop{
                margin-left: 1.8rem;
                margin-top: 8rem;
                width: 400px;
                height: 420px;
            }
        }
    }

    &__right{
        &--recipe-name{
            font-family: "Kodchasan", sans-serif;
            font-weight: 600;
            color: $color-black;
            text-transform: uppercase;

            @include mobile-only{
                position: relative;
                top: 1rem;
                width: 100%;
                font-size: 1.875rem;
                margin-left:1rem;
            }

            @include tabletplus{
                font-size: 1.8rem;
                margin-top: 6rem;
                margin-left: 1rem;
            }

            @include tablet-only{
                font-size: 2rem;
                margin-top: 7rem;
            }

            @include desktop{
                margin-top: 12rem;
                padding-left: 1.2rem;
                font-size: 2.8rem;
            }
        }

        &--recipe-category{
            font-family: "Kodchasan", sans-serif;
            font-weight: 400;
            color: $color-black;
            text-transform: uppercase;

            @include mobile-only{
                font-size: 1.5rem;
                margin-left:1rem;
            }

            @include desktop{
                font-size: 2.5rem;
            }
        }

    &--recipe-description{
            font-family: 'Rokkitt', serif;
            color: $color-light-grey;

            @include mobile-only{
                position: relative;
                top: 0;
                padding-bottom: 1rem;
                font-size: 1rem;
                margin-left: 1rem;
            }

            @include tabletplus{
                font-size: 1rem;
                padding-right: 4rem;
                margin-left: 2rem;
                padding-bottom: 1rem;
            }

            @include tablet-only{
                font-size: 0.9rem;
                margin-left: 2rem;
                padding-bottom: 1rem;
            }

            @include desktop{
                padding-bottom: 5rem;
                font-size: 2.2rem;
                margin-left: 3rem;
            }
        }
    }
}

.content-ingredients{
    
    @include mobile-only{
        position: relative;
        top: 2rem;
    }

    @include tabletplus{
        position: relative;
        top: 3rem;
    }

    @include tablet-only{
        position: relative;
        top: 2rem;
    }

    @include desktop{
        position: relative;
        top: 2.5rem;
    }

    &__heading{
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;

        @include desktop{
            font-size: 2.5rem;
        }
    }

   .nav ul {
    list-style: none;
   }

   .nav ul > li{
        font-family: 'Rokkitt', serif;
        color: $color-light-grey;

        @include mobile-only{
            position: relative;
            bottom: 0.8rem;
            font-size: 1rem;
            margin-left:1rem;
        }

        @include desktop{
            font-size: 2.3rem;
        }
   }
}

.procedure-container{

    @include mobile-only{
        position: relative;
        top: 2rem;
    }

    @include tabletplus{
        position: relative;
        top: 3rem;
    }

    @include tablet-only{
        position: relative;
        top: 3rem;
    }

    @include desktop{
        position: relative;
        top: 4.2rem;
    }

    &__heading{
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;

        @include desktop{
            font-size: 2.5rem;
        }
    } 

    p {
        font-family: 'Rokkitt', serif;
        color: $color-light-grey;

        @include mobile-only{
            font-size: 1rem;
            margin-left: 2rem;
        }

        @include tabletplus{
            margin-left: 2rem;
        }

        @include tablet-only{
            margin-left: 2rem;
        }

        @include desktop{
            font-size: 2.3rem;
            margin-left: 2rem;
        }
    }
}

