@import '../../Styles/partials/fonts';
@import '../../Styles/partials/variables';

.header{
    display: flex;
}

.header > h1 {
    font-family: 'Inknut Antiqua Bold';
    color: $color-purple;
    margin-left: 1rem;

    @include desktop{
        font-size: 2rem;
    }
}

.right-nav > .login-link{
    text-decoration: none;
}

.right-nav > .login-link > h3{
    display: inline;
    padding: 1rem;
    position: relative;
    left: 5rem;
    font-family: 'Kaushan Script';
    color: $color-navy-blue;

    @include desktop{
        font-size: 1.5rem;
    }
}

.right-nav{
    margin: auto;

    @include tablet-only{
        position: relative;
        left: 12rem;
    }

    @include desktop{
        position: relative;
        left: 20rem;
    }
}

.right-nav > h3{
    font-size: 24px;

    @include desktop{
        font-size: 28px;
    }
}


  