@use '../../Styles/partials/fonts';
@import '../../Styles/partials/variables';

.app-title{
    font-family: 'Inknut Antiqua Bold';
    color: $color-purple;

    @include mobile-only{
        margin-top: 3rem;
        margin-left: 2em;
        width: 115%;
    }

    @include mobileplus{
        margin-left: 2rem;
        margin-top: 3rem;
    }

    @include tabletplus{
        margin:auto 0;
        margin-top: 3rem;
    }

    @include tablet-only{
        margin:auto 0;
        margin-top: 3rem;
    }

    @include desktop{
        position: absolute;
        margin-top: 3rem;
        left: 16rem;
    }
}

.home-link{
    text-decoration: none;
}

.register{
    &__heading{
        font-family: 'Kaushan Script';
        color: $color-navy-blue;
    
        
        @include mobile-only{
            font-size: 1.2rem;
            margin-left: 7em;
        }

        @include mobileplus{
            margin-left: 2rem;
        }

        @include tabletplus{
            font-size: 1.5rem;
        }
        
        @include tablet-only{
            font-size: 1.5rem;
        }

        @include desktop{
            font-size: 1.7rem;
            position: absolute;
            top: 5rem;
            left: 23rem;
        }
    }

    &__button{
        background-color: $color-light-purple;
        color: $color-grey;
        font-family: 'Kaushan Script';
        border-radius: 1.25rem;
        border-color: $color-light-grey;

        @include mobile-only{
            position: absolute;
            left: 25.5rem;
            width: 27%;
            padding: 5px 5px;
            top: 13rem;
        }
        
        @include mobileplus{
            position: absolute;
            left: 34.5rem;
            width: 18%;
            padding: 5px 5px;
            top: 13rem;
        }

        @include tabletplus{
            position: absolute;
            left: 1rem;
            top: 22rem;
            width: 85%;
            padding: 8px 8px;
        }

        @include desktop{
            width: 69%;
            padding: 12px 8px;
        }
    } 
}

.message-block{
    &__register-info{
        font-size: 0.8rem;
        color: $color-grey;
        font-family: 'Khula', sans-serif;

        @include mobile-only{
            position: absolute;
            left: 25rem;
            width: 31%;
            top: 14.5rem;
        }

        @include mobileplus{
            position: absolute;
            left: 32rem;
            width: 31%;
            top: 14.5rem;
        }

        @include tabletplus{
            position: absolute;
            left: 1.2rem;
            top: 23.8rem;
        }

        @include desktop{
            top: 24.8rem;
        }
    }

    &__login-info{
        .signin-link{
            text-decoration: none;
            color: $color-grey;
            font-family: 'Khula', sans-serif;  
            font-size: 0.8rem; 
        
            @include mobile-only{
                position: absolute;
                left: 25rem;
                width: 31%;
                top: 17.7rem;
                padding-right: 1rem;
            }

            @include mobileplus{
                position: absolute;
                left: 33rem;
                width: 31%;
                top: 16.7rem;
            }

            @include tabletplus{
                position: absolute;
                top: 25.8rem;
                left: 3.3rem;
            }

            @include tablet-only{
                position: absolute;
                top: 25.8rem;
                left: 3.3rem;
            }

            @include desktop{
                position: absolute;
                top: 26.8rem;
            }
        }
     }
}

.register-user{
    label.register-email{
        color: $color-navy-blue;
        font-family: "Kaushan Script";

        @include mobile-only{
            position: absolute;
            top: 12em;
            left: 1rem;
        }

        @include mobileplus{
            position: absolute;
            top: 10.5rem;
            left: 1rem;
        }

        @include tabletplus{
            position: absolute;
            top: 12rem;
            left: 1rem;
        }

        @include desktop{
            margin: auto 0;
        }
    }

    label.register-password{
        color: $color-navy-blue;
        font-family: "Kaushan Script";

        @include mobile-only{
            position: absolute;
            top: 20rem;
            left: 1rem;
        }

        @include mobileplus{
            position: absolute;
            top: 16rem;
            left: 1rem;
        }

        @include tabletplus{
            position: absolute;
            top: 17.5rem;
            left: 1rem;
        }
    }

    input.email{
        border-color: $color-light-grey;
        color: $color-medium-purple;
        border-radius: 1.25rem;

        @include mobile-only{
            position: absolute;
            top: 14em;
            left: 6.1rem;
            width: 50%;
            padding: 0.25rem 1rem;
        }

        @include mobileplus{
            position: absolute;
            top: 12.5em;
            left: 6.1rem;
            width: 50%;
            padding: 0.25rem 1rem;
        }

        @include tabletplus{
            position: absolute;
            top: 11.5rem;
            left: 6rem;
            width: 55%;
            padding: 0.5rem 1rem;
        }

        @include desktop{
            width: 36%;
        }
    }

    input.password{
        border-color: $color-light-grey;
        color: $color-medium-purple;
        border-radius: 1.25rem;

        @include mobile-only{
            position: absolute;
            top: 20.1rem;
            left: 6.1rem;
            width: 50%;
            padding: 0.25rem 1rem;
        }

        @include mobileplus{
            position: absolute;
            top: 17.5rem;
            left: 6.1rem;
            width: 50%;
            padding: 0.25rem 1rem;
        }

        @include tabletplus{
            position: absolute;
            left: 6.2rem;
            width: 55%;
            padding: 0.5rem 1rem;
            top: 17.5rem;
        }

        @include desktop{
            width: 36%;
        }
    }
}

div.register__message{
    color: $color-red;
    font-size: 0.8rem;

    @include mobile-only{
        position: absolute;
        top: 25rem;
        left: 1rem;
        width: 67%;
    }

    @include mobileplus{
        position: absolute;
        top: 25rem;
        left: 1rem;
        width: 50%;
    }

    @include tabletplus{
        position: absolute;
        top: 28rem;
        left: 1rem;
    }

    @include tablet-only{
        position: absolute;
        top: 28rem;
        left: 1rem;
    }

    @include desktop{
        position: absolute;
        top: 29rem;
        left: 1rem;
    }
}

