@use '../../Styles/partials/fonts';
@import '../../Styles/partials/variables';
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');

.recipes-container{
    &__heading{
        font-family: "Kodchasan", sans-serif;
        color: $color-purple;

        @include mobile-only{
            position: relative;
            top: 4.5rem;
            right: 4rem;
        }

        @include tabletplus{
            position: relative;
            top: 5rem;
            right: 14rem;
        }

        @include tablet-only{
            position: relative;
            top: 5rem;
            right: 20rem;
        }

        @include desktop{         
            position: relative;
            top: 5rem;
            right: 59rem;
        }
    }

    &__add-recipe{
        color: $color-grey;
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;
        background-color: $color-light-purple;
        border-color: $color-light-grey;

        @include mobile-only{
            border-radius: 35px;
            padding: 5px 5px;
            width: 30%;
            position: relative;
            top: 1.2rem;
            left: 10rem;
        }

        @include tabletplus{
            width: 18%;
            position: relative;
            top: 1.6rem;
            left: 12rem;
            border-radius: 35px;
            padding: 5px 5px;
        }

        @include tablet-only{
            width: 12%;
            position: relative;
            top: 1.6rem;
            left: 24rem;
        }

        @include desktop{
            width: 9%;
            position: relative;
            top: 1.6rem;
            left: 32rem;
        }
    }
}