@use '../../Styles/partials/fonts';
@import '../../Styles/partials/variables';

.recipes-container{
    &__heading{
        font-family: "Kodchasan", sans-serif;
        color: $color-purple;

        @include mobile-only{
            position: absolute;
            top: 12.5rem;
            left: 1rem;
        }

        @include mobileplus{
            position: absolute;
            top: 7.5rem;
            left: 1rem;
        }

        @include tabletplus{
            position: absolute;
            top: 7rem;
            left: 1rem;
        }

        @include tablet-only{
            position: absolute;
            top: 7.5rem;
            left: 1rem;
        }

        @include desktop{         
            position: absolute;
            top: 8.5rem;
            left: 1rem;
        }
    }

    &__search{
        position: absolute;
        left: 1rem;

        input[type=text] {
            width: 80%;
            padding: 0.563rem 1.375rem;
            margin: 0.5rem 0;
            border-radius: 1.563rem;
            border-color: $color-greyish;
            color: $color-medium-purple;
            position: relative;
            left: 0;
            bottom: 0.5rem;

            @include tabletplus{
                width: 90%;
            }

            @include tablet-only{
                width: 90%;
            }

            @include desktop{
                width: 120%;
            }
        }
        
        ::placeholder {
            color: $color-light-grey;
            opacity: 1;
            font-family: 'Aref Ruqaa Ink', serif;
          }
    }
}

.content-container{
    @include mobile-only{
        position: relative;
        top: 7rem;
        left: 1rem;
    }

    @include tabletplus{
        display: flex;
        position: relative;
        top: 3rem;
    }

    @include tablet-only{
        display: flex;
    }

    &__left {
        img {
            width: 245px;
            height: 210px;

            @include mobile-only{
                margin-top: 5rem;
            }

            @include mobileplus{
                top: 0;
                left: 0;
                position: relative;
            }

            @include tabletplus{
                margin-top: 5rem;
                margin-left: 1rem;
            }

            @include tablet-only{
                margin-left: 0.8rem;
                margin-top: 6.3rem;
                width: 248px;
                height: 250px;
            }

            @include desktop{
                margin-left: 1.8rem;
                width: 300px;
                height: 255px;
                margin-top: 7rem;
            }
        }
    }

    &__right{
        .recipe-name{
            font-family: "Kodchasan", sans-serif;
            font-weight: 600;
            color: $color-black;

            @include mobile-only{
                font-size: 1.875rem;
                width: 100%;
                position: absolute;
                top: 15rem;
            }

            @include mobileplus{
                position: relative;
                top: 6rem;
            }

            @include tabletplus{
                font-size: 1.8rem;
                margin-top: 5rem;
                margin-left: 1rem;
            }

            @include tablet-only{
                font-size: 2rem;
                margin-top: 7rem;
            }

            @include desktop{
                margin-top: 8rem;
                font-size: 2.1rem;
            }
        }

        .recipe-description{
            font-family: 'Rokkitt', serif;
            color: $color-light-grey;

            @include mobile-only{
                font-size: 17px;
                padding-bottom: 1rem;
                position: relative;
                top: 5rem;
            }

            
            @include mobileplus{
                font-size: 17px;
                padding-bottom: 0;
                position: relative;
                top: 6rem;
            }

            @include tabletplus{
                font-size: 1rem;
                padding-right: 4rem;
                margin-left: 2rem;
                padding-bottom: 1rem;
            }

            @include tablet-only{
                font-size: 0.9rem;
                margin-left: 1rem;
                padding-bottom: 1rem;
            }

            @include desktop{
                padding-bottom: 0rem;
                font-size: 1.8rem;
            }
        }
    }

    a.continue-reading {
        text-decoration: none;
        color: $color-green;
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;

        @include mobile-only{
            font-size: 1.2rem;
        }

        @include tabletplus{
            font-size: 1.2rem;
        }

        @include desktop{
            font-size: 1.5rem;
        }
    }
    
    .link{
        text-decoration: none;
        color: $color-green;
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;
        
        @include mobile-only{
            font-size: 1.2rem;
        }

        @include tabletplus{
            font-size: 1.2rem;
        }

        @include desktop{
            font-size: 1.5rem;
        }
    }
}

.add-new-recipe{
    background-color: $color-light-purple;
    text-decoration: none;
    color: $color-grey;
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    border-color: $color-grey;

    @include mobile-only{
        border-radius: 2rem;
        left: 17rem;
        padding: 0rem 0.8rem;
        position: absolute;
        top: 13rem;
        width: 30%;
    }

    @include mobileplus{
        width: 17%;
        position: absolute;
        top: 8.1rem;
        left: 23rem;
        padding: 0.5rem 1rem;
        border-radius: 2.25rem;
    }

    @include tabletplus{
        width: 20%;
        position: absolute;
        top: 7.5rem;
        left: 29rem;
        padding: 0.5rem 0rem;
        border-radius: 2.25rem;
    }

    @include tablet-only{
        width: 15%;
        position: absolute;
        top: 8rem;
        left: 46rem;
        padding: 0.5rem 0rem;
        border-radius: 2.25rem;
    }

    @include desktop{
        width: 6%;
        position: absolute;
        top: 9rem;
        left: 65rem;
        border-radius: 2.25rem;
        padding: 0.8rem 1rem;
    }
}
